h1{
  font-size : 200%;
  line-height: 1;
}

h3{
  font-size : 100%;
  line-height: 1;
}

body{
    color: blueviolet;
    font-family:"游ゴシック";
    font-size : 150%;
    background-color: rgba(30, 40, 30,50 );
  }

p{
  line-height: 1;
}
